$navy:   #094658;
$teal:   #13AFB5;
$red:    #DB232A;
$white:  #ffffff;
$black:  #000000;
$yellow: #EFC818;
$orange: #F47721;


$gray-700: #495057;
$blue:    $navy;


$input-bg: $white;
$input-color: $navy;
$input-placeholder-color: $gray-700;


$link-color:               $white;
$link-decoration:          none !default;
$link-hover-color:         $yellow;
$link-hover-decoration:    underline !default;